.float {
  position: fixed;
  z-index: 9;
  right: 2px;
  bottom: 1px;
  display: flex;
  flex-direction: row;
}
.float svg {
  margin: 5px;
}
@media screen and (max-width: 600px) {
  .float {
    flex-direction: column;
  }
}
